
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 20px;
    overflow: auto;
}

.listContainer{
    display: flex;
    gap: 7.5px;
}

.addTaskList{
    display: flex;
    width: 310px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color-gray);
    gap: 14px;
}