
.container{
    width: 1920px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.sidebar_container{
    width: 15%;
}

.project_container{
    width: 85%;
    background: var(--main-bg-color);
}